PngImage_0 RCDATA "..\\PNG\\0.png"
PngImage_b1 RCDATA "..\\PNG\\b1.png"
PngImage_b2 RCDATA "..\\PNG\\b2.png"
PngImage_b3 RCDATA "..\\PNG\\b3.png"
PngImage_b4 RCDATA "..\\PNG\\b4.png"
PngImage_b5 RCDATA "..\\PNG\\b5.png"
PngImage_b6 RCDATA "..\\PNG\\b6.png"
PngImage_b7 RCDATA "..\\PNG\\b7.png"
PngImage_b8 RCDATA "..\\PNG\\b8.png"
PngImage_b9 RCDATA "..\\PNG\\b9.png"
PngImage_gamer1 RCDATA "..\\PNG\\gamer1.png"
PngImage_gamer10 RCDATA "..\\PNG\\gamer10.png"
PngImage_gamer2 RCDATA "..\\PNG\\gamer2.png"
PngImage_gamer3 RCDATA "..\\PNG\\gamer3.png"
PngImage_gamer4 RCDATA "..\\PNG\\gamer4.png"
PngImage_gamer5 RCDATA "..\\PNG\\gamer5.png"
PngImage_gamer6 RCDATA "..\\PNG\\gamer6.png"
PngImage_gamer7 RCDATA "..\\PNG\\gamer7.png"
PngImage_gamer8 RCDATA "..\\PNG\\gamer8.png"
PngImage_gamer9 RCDATA "..\\PNG\\gamer9.png"
PngImage_h1 RCDATA "..\\PNG\\h1.png"
PngImage_h2 RCDATA "..\\PNG\\h2.png"
PngImage_h3 RCDATA "..\\PNG\\h3.png"
PngImage_h4 RCDATA "..\\PNG\\h4.png"
PngImage_h5 RCDATA "..\\PNG\\h5.png"
PngImage_h6 RCDATA "..\\PNG\\h6.png"
PngImage_h7 RCDATA "..\\PNG\\h7.png"
PngImage_h8 RCDATA "..\\PNG\\h8.png"
PngImage_h9 RCDATA "..\\PNG\\h9.png"
PngImage_k1 RCDATA "..\\PNG\\k1.png"
PngImage_k2 RCDATA "..\\PNG\\k2.png"
PngImage_k3 RCDATA "..\\PNG\\k3.png"
PngImage_k4 RCDATA "..\\PNG\\k4.png"
PngImage_k5 RCDATA "..\\PNG\\k5.png"
PngImage_k6 RCDATA "..\\PNG\\k6.png"
PngImage_k7 RCDATA "..\\PNG\\k7.png"
PngImage_k8 RCDATA "..\\PNG\\k8.png"
PngImage_k9 RCDATA "..\\PNG\\k9.png"
PngImage_p1 RCDATA "..\\PNG\\p1.png"
PngImage_p2 RCDATA "..\\PNG\\p2.png"
PngImage_p3 RCDATA "..\\PNG\\p3.png"
PngImage_p4 RCDATA "..\\PNG\\p4.png"
PngImage_p5 RCDATA "..\\PNG\\p5.png"
PngImage_p6 RCDATA "..\\PNG\\p6.png"
PngImage_p7 RCDATA "..\\PNG\\p7.png"
PngImage_p8 RCDATA "..\\PNG\\p8.png"
PngImage_p9 RCDATA "..\\PNG\\p9.png"
PngImage_screenSaver RCDATA "..\\PNG\\screenSaver.png"
PngImage_theBackground RCDATA "..\\PNG\\theBackground.png"
